[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/"
verify_ssl = true
name = "downloadpytorch"

[packages]
ase = "3.21.1"
matplotlib = "*"
numba = "*"
pymatgen = "2020.12.31"
pyyaml = "*"
tensorboard = "*"
tqdm = "*"
lmdb = "*"
submitit = "*"
# pyg-lib = {index = "pytorch-geometric", version= "*"}
# Doesn't work so install through pip
# torch-scatter = {index= "pytorch-geometric", version= "*"}
# torch-sparse = {index= "pytorch-geometric", version= "*"}
# torch-cluster = {index= "pytorch-geometric", version= "*"}
# torch-spline-conv = {index= "pytorch-geometric", version= "*"}
# torch-geometric = {index= "pytorch-geometric", version= "*"}
torch = {version = "==1.13.1+cu117", index = "downloadpytorch"}

[dev-packages]
pre-commit = "2.10"
pytest = "*"
syrupy = "*"
ocp-models = {editable = true, path = "."}
black = "22.3.0"
pylint = "*"
pyflakes = "*"
isort = "*"
wandb = "*"
jupyter = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
